/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require select2
 */

@import "semantic-ui";
//****************GLOBAL*****************//
@font-face {
    font-family: Proxima Nova;
    src: url('Proxima Nova.ttf');
}

* {
    font-family: Proxima Nova;
    color: #7a828a;
}

body {
    background-color: #f7f8fa;
}

//************************************//
// **************LOGIN****************//
#login_page {
    height: 102vh;
    #login {
        background-image: image-url('login_bg.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
    img {
        margin-left: 1em;
    }
    .ui.form {
        padding-left: 8em;
        padding-right: 10em;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #login_side {
        background-image: image-url('sign_in.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
}

// ***********************************//
//***************NAVBAR**************//
.ui.top.fixed.menu {
    height: 3.5em;
    background-color: #ffffff;
}

//***********************************//
//**************SIDEBAR**************//
.ui.left.fixed.vertical.menu {
    z-index: 999;
    background-color: #ffffff;
    .item {
        color: #7a828a;
        img {
            display: inline;
        }
    }
}

//***********************************//
//**************CONTENT*************//
#content {
    padding-top: 6em !important;
    // padding-right: 0 !important;    
    padding-right: 7em;
}

//********************************//
//**************HEADING***********//
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
}

span.error {
    color: red;
}

#supplier_table {
    width: 70%;
}

#product_table {
    width: 90%;
}

#supplier_search {
    width: 20em;
}

#create_product {
    width: 18%;
}

#import_help {
    width: 14%;
}
.ui.bottom.fixed.five.item.menu {
    display: none;
}

#new_admin, #new_staff {
    margin-top: 3em !important;
}

@media only screen and (max-width: 768px) {
    #new_admin, #new_staff{
        padding: 0 !important;
        margin-top: 3em !important;
    }
    .ui.bottom.fixed.five.item.menu {
        display: flex;
    }
    .ui.fluid.container {
        margin: none;
    }
    #content {
        padding-bottom: 4em !important;
        padding-right: 0 !important;
        padding-top: 4em !important;
    }
    #login_side {
        display: none;
    }
    .ui.left.fixed.vertical.menu, .three.wide.column {
        display: none;
    }
    #dashboard_submit,
    #products_submit,
    #store_search,
    #store_sort,
    #store_search_button,
    #create_store_button,
    #sales_search,
    #submit_supplier,
    #supplier_sort,
    #create_supplier,
    #supplier_search,
    #forms_product,
    #store_products_search {
        width: 100%;
        margin: auto;
    }
    #create_product,
    #import_help {
        width: 50%;
        display: inline;
    }
    #supplier_table,
    #product_table {
        width: 100%;
    }
}